body {
  margin: 0;
  height: 100vh;
  display: flex;
}
* { font-size: 3vmin; }
#tool {
  margin: auto;
  padding: 1vmin;
  border: .1vmin solid #999;
  background-color: #eee;
  font-family: monospace;
  z-index: 1;
}
#container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: column;
}
input {
  width: 3vmin;
  height: 3vmin;
  outline: none;
  border: .1vmin solid #ccc;
  font-family: monospace;
  color: #666;
}
.row {
  display: flex;
  flex-flow: row;
  flex: 2 2;
}
.group {
  position: relative;
  border: .1vmin solid #999;
  box-sizing: content-box;
  overflow: hidden;
  flex: 2 2;
}
#lines {
  z-index: 1;
  pointer-events: none;
}
#lines >* {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: #999;
  opacity: 0;
}
#lines >.show { opacity: .5; }
#lines .vert {
  transform: translateX(-50%);
  height: 100%;
}
#lines .hori {
  transform: translateY(-50%);
  width: 100%;
}
.block {
  position: absolute;
  overflow: auto;
}
.block input {
  position: absolute;
  top: 0;
  right: 0;
}